[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
scipy = "*"
jupyter = "*"
seaborn = "*"
statsmodels = "*"
jupyterlab = "*"
tqdm = "*"
yellowbrick = "*"
py-glm = {git = "https://github.com/madrury/py-glm.git"}
mord = "*"

[requires]
python_version = "3.7"
